.robot {
    /* background-color: #333; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.LArm {
    margin-right:  -1em;
}
.Head {
    margin-right: -1em;
}
.RArm {
    margin-left: 1em;
    margin-right: 1.4em;
}
.Battery {
    margin-right: 1.4em;
}
.BODY {
    margin-right: 0.5em;
}
